* {
  -webkit-font-smoothing:antialiased;
  -mac-osx-font-smoothing: greyscale;
}
html{
  font-family: 'Inconsolata';
  background-color: white
  color: #333333;
  text-align: center;
}
.link{
  background-color: white;
  padding: 5px;
  text-align: left;
  width: 50%;
  margin: auto;
  font-size: 14px
}
.link:hover{
  background-color: #efefef;
}
.link a{
  text-decoration: none;
}
@media (max-width: 414px){
  .link{
    width: 90%;
  }
}
